.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  font: 10px sans-serif;
}

/* Links */
.link-dflt {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.link-available{
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}
.link-complete{
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}